body {
    margin: 0;
    padding: 0;
    background: rgb(215, 240, 249);
}

#board{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(./Empty\ Room\ View\ Professional\ Name\ Zoom\ Virtual\ Background.png);
    background-size: cover;
}

#trampoline{
    background-color: rgb(35, 2, 255);
    position: absolute;
}

.monkey{
    background-color: rgb(118, 57, 11);
    position: absolute;
}

.counter-display{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 92vh;
    left: 2vw;
}

#page-gameover{
    text-align: center;
    background-color: blue;
}
