body {
    margin: 0;
    padding: 0;
    background: rgb(215, 240, 249);
}

#board{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#trampoline{
    background-color: rgb(35, 2, 255);
    position: absolute;
}

.monkey{
    background-color: rgb(118, 57, 11);
    position: absolute;
}