#trampoline,
.monkey {
    background-repeat: no-repeat;
    background-position-x: center
}

.counter-display,
.points-display {
    left: 2vw;
    font-size: 2vw
}

#board,
#page-gameover {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden
}

#page-gameover,
.counter-display,
.points-display {
    color: #fff;
    font-family: fantasy
}

.final-score-display,
.points-display,
a,
h1 {
    font-size: 2vw
}

body {
    margin: 0;
    padding: 0;
    background: #d7f0f9
}

#board {
    background-image: url(../5334280.jpg);
    background-size: cover
}

#trampoline,
.counter-display,
.monkey,
.points-display {
    background-color: transparent;
    position: absolute
}

#trampoline {
    background-image: url(../trampoline1.2.png);
    background-size: 100% 100%;
    filter: contrast(2.5)
}

.monkey {
    background-image: url(../monkey-jumping.png);
    background-size: contain;
    filter: drop-shadow(2);
    -webkit-animation: 4s linear infinite spin
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

.counter-display {
    bottom: 87vh
}

.points-display {
    bottom: 79vh
}

#page-gameover {
    background-image: url(../monkey-gameover.png), url(../5334280.jpg);
    background-size: 30vh, cover;
    text-align: center;
    background-repeat: no-repeat, no-repeat;
    background-position: 50vh, cover
}

a {
    color: #014d01;
    font-weight: 700
}